*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    font-family: Cabin;
}
.cRouge{
    color: #DF2620 !important;
}
.cGras{
    color: #DF2620 !important;
    font-size: 14px;
    font-weight: bold;
}
.row{
    margin-right:0;
    margin-left:0;
}

/* NAVBAR */
.navbar-brand {
    font-size: 36px !important;
    font-weight: bolder!important;
    text-shadow: 1px 1px 2px black;
}
.navbar-inverse {
    padding: 10px 20px;
    background: transparent;
    border-color: transparent !important;
    position: absolute !important;
}
.navbar-inverse a {
    color: white !important;
}
.navbar-inverse .navbar-nav .active a {
    color: #DF2620 !important;
}
.navbar-inverse li a:hover {
    background-color: #DF2620 !important;
}
.navbar-inverse .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle button, .navbar-toggle button:hover {
    border-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: #DF2620;
}
.navbar-nav {
    font-size: 14px !important;
}
.nodrop {
    text-shadow: 1px 1px 2px black;
}
a#contact {
    margin-left: 100px;
}
.dropdown-menu {
    background:rgba(255,255,255,0.3);
}
.dropdown-menu a {
    color: black !important;
    font-size: 14px !important;
}
.dropdown-menu a:hover {
    color: white !important;
}
.navbar-form input {
    width: 200px;
    opacity: 0.5;
    background-color: black !important;
    border-radius: 20px;
}
.icon-bar {
    background-color: #DF2620 !important;
}
.glyphicon {
    color: white;
}
.input-group button {
    background-color: none !important;
    border-color: transparent !important;
}
.input-group button:hover {
    background-color: none !important;
    border-color: transparent !important;
}
.btn.btn-default {
    background-color: black !important;
    border-color: transparent !important;
    border-radius: 20px;
    opacity: 0.5;
    margin-left: 0px;
}
#seekBar{
    width: 100px;
}

/* JUMBOTRON */
.jumbotron {
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-caption {
    width: 100vw;
    left: 0 !important;
}
.carousel-caption h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
}
.carousel-caption p {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
ol.carousel-indicators {
    display: flex;
    justify-content: center;
}
.carousel-indicators-carre li {
    background-color: white !important;
    width: 35px !important;
    border-radius: 0px !important;
    border: none !important;
    height: 5px !important;
    margin: 10px !important;
}
.carousel-indicators-carre li.active {
    background-color: #DF2620 !important;
    width: 35px !important;
    border-radius: 0px !important;
    border: none !important;
    height: 5px !important;
    margin: 10px !important;
}

.redBan{
    height: 37px;
    width: 100%;
    background-color: #DF2620;
}

/* FILMS */
.thumbnail{
    margin: 0px;
    padding: 0px;
    border-style: none;
}
.aleft{
    text-align: left;
    padding-left: 3px;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
}
.aright{
    text-align: right;
    padding-right: 3px;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
}
#titreFilm{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}
.aleft p{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.aright p{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
#titreFilm p{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.modal-trailer{
    text-align: center;
}

/* FEAT MOVS */
.feature-btn-wrapper{
    display:flex;
    justify-content: center;
}
.feature-btn-wrapper .btn{
    width: 200px;
}
.feature_movies > .container{
    padding: 0;
}
.feature_movies .thumbnail{
    padding: 0;
    border:none;
}
.feature_movies .thumbnail .caption{
    padding: 0;
}
.feature_movies .thumbnail .caption h5{
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
.feature_movies .thumbnail .caption p{
    text-align: center;
    padding-bottom: 6px;
}
.feature_movies div h3{
    display: inline;
}
.feature_movies_container{
    padding: 0;
}
.feature_movies .filtres{
    margin-top: 25px;
    padding-left: 15px
}
.filtres {
    margin-bottom: 10px;
    padding-left: 15px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.filtres button {
    border: none;
    background-color: #CBBCBC;
    padding: 12px;
    margin-right: 5px;
    color: white;
    min-width: 80px;
    margin-bottom: 10px;
}
#numFeatMovs{
    border:none;
    background-color: #DF2620;
    padding: 8px;
    margin-right: 10px;
    color: white;
    min-width: 80px;
    margin-bottom: 10px;
}
.filtres .filtre_active{
    background-color: #DF2620;
}
section h3{
    border-left: 5px #DF2620 solid;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 35px;
}
.feature_movies_container .row > div:nth-last-child(-n + 18){
    display:none;
    transition: all 1s ease;
}

/* FEAT SERIES */
.feature_series > .container{
    padding: 0;
}
.feature_series .thumbnail{
    padding: 0;
    border:none;
}
.feature_series .thumbnail .caption{
    padding: 0;
}
.feature_series .thumbnail .caption h5{
    text-align: center;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 18px;
}
.feature_series .thumbnail .caption p{
    text-align: center;
}
.feature_series div h3{
    display: inline;
}
.feature_series_container{
    padding: 0;
}
.feature_series .filtres{
    margin-top: 25px;
    padding-left: 15px
}
#numFeatSeries{
    border:none;
    background-color: #DF2620;
    padding: 8px;
    margin-right: 10px;
    color: white;
    min-width: 80px;
    margin-bottom: 10px;
}
.feature_series_container .row > div:nth-last-child(-n + 12){
    display:none;
    transition: all 1s ease;
}

/* MOVIE SHOP */
.arrowWrap{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0;
    background-color: #f4f1fa;
}
.arrowBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    width: 28px;
    height: 28px;
}
.arrowBox:first-child{
    margin-right: 4px;
}
.arrowBox i{
    color: #bfbdc4;
}
#detailTitle{
    text-transform: uppercase;
}
#shopCarousel .detail{
    margin: 0;
    padding: 0;
    background-color: #F2F1F6;
    border-bottom-style: solid;
    border-bottom-color: #bfbdc4;
}
#shopCarousel .thumbs{
    margin: 0;
    padding: 0;
}
.pouce{
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #F2F1F6;
    width: 150px;
    border-bottom-style: solid;
    border-bottom-color: #bfbdc4;
}
.pouce .row{
    padding-left: 3px;
    padding-right: 3px;
}
#shopCarousel .container-fluid{
    margin: 0;
    padding: 0;
}
#shopCarousel .carousel-inner{
    margin: 0;
    padding: 0;
}
#shopCarousel .item{
    margin: 0;
    padding: 0;
}
#shopCarousel .thumbnail{
    margin: 0;
    padding: 0;
}
#shopCarousel .caption-container{
    margin: 0;
    padding: 0;
}

/* CONTACT */
.contact .cUs{
    margin: 0;
    padding: 0;
}

/* pop-up age */
#ageWrapper {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  background-color: rgba(32,23,19,.7);
  transition: visibility 0s ease-in-out .5s, opacity .5s ease-in-out;
}

#ageWrapper.ageUnknown {
  visibility: visible;
  opacity: 1;
}

#agePopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  width: 360px;
  height: 150px;
  margin-top: -105px;
  margin-left: -185px;
  box-sizing: border-box;
}

#agePopUp a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  display: inline-block;
}




/* cookie eu */
div.cookie_policy_msg{
  width:100%;
  background:#111!important;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
div.cookie_policy_msg>div{
  max-width:1200px;
  margin:0 auto;
  color:#999;
  padding:10px;
}
div.cookie_policy_msg>div>a:first-child{
  color:#fff;
  display:inline-block;
  margin-left:10px;
}
div.cookie_policy_msg>div>a:last-child{
  display:inline-block;
  margin-left:20px;
  height:28px;
  width:32px;
  color:#fff;
}
